/* Estilos da Barra de Navegação */
.navbar.navbar-expand-lg {
  background: rgba(229, 9, 20, 0.6) !important;
  margin-top: 0; 
  padding-top: 0;
}

.navbar.navbar-expand-lg {
  background: #000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Termina aqui*/

#logo{
    margin: auto;
    display: block;
    width: 50px;
    height: 50px;
}

h1{
    color: #dbdee0;
    text-align: center;
    font-family: Didot, serif;
    font-weight: 500px;
}

p{
  color: #dbdee0;
  text-align: center;
  font-family: Didot, serif;
  font-size: 25px;
} 

#titulo{
  font-size: 40px;
}

#titulo2{
  font-size: 50px;
}

h2{
  color: #dbdee0;
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
  font-family: Didot, serif;
}

body {
  background-color: #141414;
  font-family: Arial, sans-serif;
  color: #dbdee0;
  margin: 0;
  padding: 0;
}
  
.container {
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

#topo{
  background-color: rgba(229, 9, 20, 0.6);
}
.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 10px;
  text-align: center;
  background-color: #222222; 
  border-radius: 8px;
  padding: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 290px; 
}

.movie-poster {
  width: 200px; 
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-list{
  margin: 0 auto;
}

.movie-poster:hover {
  transform: scale(1.05);
}

.logo img {
  width: 120px;
  height: auto;
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
}

.movies-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  margin: 10px;
  text-align: center;
  background-color: #141414; 
  border-radius: 8px;
  padding: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie i {
  margin-right: 5px;
}

.movie-poster {
  width: 200px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.btn-primary {
  background-color: #e50914; 
  border-color: #e50914;
  transition: background-color 0.3s ease; 
  color: #dbdee0;
}

.btn-primary:hover {
  background-color: #ff3d4c; 
  border-color: #ff3d4c;
}

.btn-primary:hover {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.interactive-element:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.movie {
  transition: box-shadow 0.3s ease;
}

.movie:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.6); 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.movie {
  animation: fadeIn 0.5s ease-out; 
}

.parallax-section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px; 
  position: relative;
}

.parallax-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #dbdee0;
  font-size: 36px;
  font-weight: bold;
}

#scrollToTopBtn{
  border: none;
}

#seta{
  height: 30px;
}

.movie-poster {
  width: 260px; 
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie h2 {
  font-size: 20px; 
  margin-top: 10px;
  color: #dbdee0;
  text-align: center;
  font-family: Didot, serif;
  word-wrap: break-word;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out;
}

.parallax-section {
  height: 600px;
}

.parallax-content {
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scroll-to-top {
  position: fixed;
  bottom: 10px;
  left: 5px;
  background-color: #e50914;
  color: #dbdee0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll-to-top:hover {
  background-color: #ff3d4c;
}


body.scrollable .scroll-to-top-container {
  display: block;
}

#nome{
  margin-top: 20px;
}

#overview, #production-companies {
  max-height: 100px;
  overflow: hidden;
}

#show-more-btn {
  display: none;
}

