@font-face {
    font-family: 'font_pixel';
    src: url('fonts/Retro\ Gaming.ttf');
}

body {
    text-align: center;
    font-family: 'font_pixel', sans-serif;
    background: #1f1f20;
    font-size: large;
    overflow: auto;
    /* background-color: #dfbff0;  */
}

#navbar {
    background-color: #151414 !important;
}

#logo {
    height: 70px;
}

a {
    color: white !important;
    font-weight: 50rem;
}

.start-btn {
    width: 200px;
    height: 50px;
    color: #ffffff;
    background: url('../images/start-btn.png');
    position: absolute;
    bottom: 100px;
    left: 252px;
    border: 2px solid black;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container-game {
    align-items: center;
    width: 965px;
    margin: auto;
    margin-bottom: 40px;
    height: 590px;
    padding: 24px;
    background: linear-gradient(135deg, #9370DB 0%, #C78BA7 50%, #F5B5D3 100%);
    border-radius: 5px;
}

.container-img {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* Organiza em 3 colunas */
    position: relative;
    margin-top: 70px;
    margin-left: 150px;
}

.container2 {
    margin-left: 160px;
}

.container3 {
    margin-left: 150px;
}

.count {
    color: #fff;
    font-size: 14pt;
    margin-top: 8px;
}

.container-anuncio {
    margin-left: 500px;
}

.item {
    position: relative;
    width: 30px;
    height: 20px;
    background: url("./background.jpg") no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 40px;
}

.botao {
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 14pt;
    color: #a27fe9;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    padding: 1px;
    width: 150px;
    height: 38px;
    margin-top: 8px;
}

.botao2 {
    border: 2px solid #000;
    border-radius: 3px;
    font-size: 14pt;
    color: #a27fe9;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    width: 320px;
    height: 38px;
    margin-top: 10px;
}

.game-over-text {
    color: white;
}

/* Bichinho */

.mole {
    position: absolute;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%);
    background-color: #cc7231;
    border-radius: 50%;
    width: 90px;
    /* Ajuste o tamanho da img mole conforme necessário */
    bottom: 10px;
}

.mole-hide {
    width: 40px;
}

.mole-appear {
    width: 90px;
    bottom: 50px;
}

/* Aquario */

.bush {
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.whack-text {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

#scroll-to-top {
    position: fixed;
    margin-top: 5px;
    bottom: 10px;
    left: 5px;
    background-color: #20B2AA;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

#scroll-to-top2 {
    position: fixed;
    bottom: 10px;
    right: 5px;
    /* Alterado de left para right */
    background-color: #20B2AA;
    border: none;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
